body { margin: 0; font-family: Arial, Helvetica, sans-serif; display: -webkit-box; display: -ms-flexbox; display: flex; background-color: #e4ebeb; min-height: 100vh; }

nav { position: fixed; top: 0; height: 100vh; width: 11rem; /*background-color: rgb(64, 71, 71);*/ color: white; z-index: 999; }

nav ul { cursor: pointer; padding: 0; text-align: center; list-style-type: none; color: #2d3333; margin-top: 0; }

nav ul .navCountry { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-size: 1.1rem; font-weight: bold; padding: 0.5rem 0rem; margin-top: 2px; background-color: #535c5c; color: white; width: 9.5rem; -webkit-transition: width 0.5s; transition: width 0.5s; }

nav ul .navCountry:hover { -webkit-transition: width 0.5s; transition: width 0.5s; width: 10.8rem; }

nav ul .navCountry ul { width: 100%; margin-top: 0.6rem; margin-left: 0; }

nav ul .navCountry ul .city { font-size: 1rem; font-weight: normal; text-transform: none; border: none; color: white; padding: 0.6rem 0; background-color: #333d3d; }

nav ul .navCountry ul .city:hover { border-left: 1px solid white; }

nav #visitedBtn { border-radius: 0; padding: 0.7rem 0.75rem; margin-top: 1rem; font-size: 1.2rem; }

button { background-color: #404949; color: white; padding: 0.5rem 1.6rem; border: none; border-radius: 20px 20px; font-size: 1rem; cursor: pointer; }

button:hover { background-color: #555c5c; }

#visitedContainer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; color: black; width: 100%; }

#visitedContainer ul { list-style-type: none; -webkit-padding-start: 0; padding-inline-start: 0; }

#visitedContainer ul li { font-size: 1.1rem; margin-bottom: 0.8rem; }

#visitedContainer button { font-size: 1.2rem; width: 7rem; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }

main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 4rem 16rem; position: relative; width: 100vw; }

main h2 { -ms-flex-item-align: start; align-self: flex-start; width: 50%; margin: 0 0 0 6rem; font-size: 3rem; -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }

main .city-info { display: block; margin: 2rem auto; padding: 1rem 6rem; line-height: 1.6; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }

main .city-pic { width: 80%; -o-object-fit: contain; object-fit: contain; -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4; }

main p { font-weight: bold; -ms-flex-item-align: start; align-self: flex-start; font-size: 1.2rem; margin: 1rem 0 0 6rem; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

main #weatherContainer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-column-gap: 0.5rem; column-gap: 0.5rem; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: #2d3333; background-color: rgba(92, 104, 104, 0.185); width: 19rem; height: 6rem; border-radius: 25px 25px; padding: 0.5rem; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; right: 22rem; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }

main #weatherContainer .weather-description { text-transform: capitalize; font-weight: bold; text-align: center; height: 30%; margin: 0.2rem auto; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 0.8rem; }

main #weatherContainer .weather-icon { max-width: 15%; margin: 0 auto; }

main #weatherContainer p { font-weight: normal; margin: 0.2rem 0; text-align: start; font-size: 0.8rem; }
/*# sourceMappingURL=styles.css.map */